@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

nav.navbar.navbar-expand-lg {
  background-color: #252525;
  height: 150px;
  width: 100%;

}

a.navbar-brand {
  height: 100%;
  width: 100%;
  margin: 0px;
}

img.logoPortafolio {
  height: 150px;
}

a.nav-link {
  color: #fccf00;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
