@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

nav.navbar {
  background-color: #252525;
}

a.navbar-brand {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.navbar-nav .nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #fccf00;
}

div#inicio {
  background-color: red;
  height: 100%;
  width: 100%;
}

div.miPresentacionDiv {
  background-color: orange;
  height: 600px;
}

div.flechaDiv {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
