@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

nav.navbar {
  background-color: #252525;
}

a.nav-link.mx-3 {
  color: #fccf00;
  font-size: 20px;
}

a.nav-link.mx-3:hover {
  color: #ffffff;
}

span.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fas.fa-bars {
  color: #fccf00;
  font-size: 30px;
}

/* 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  color: #333;
}

section {
  padding: 60px 0;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;
}

.container > div {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;
}

.container > div:nth-of-type(1) {
  background: url("img/CPropinas.png") no-repeat 50% / cover;
}

.container > div:nth-of-type(2) {
  background: url("img/Penjat.png") no-repeat 50% / cover;
}

.container .content {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: rgb(2, 2, 46);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 46, 0.6755077030812324) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}

.container > div:hover {
  flex: 0 0 250px;
  box-shadow: 1px 3px 15px #7645d8;
  transform: translateY(-30px);
}

.container > div:hover .content {
  opacity: 1;
  transform: translateY(0%);
  visibility: visible;
} */
